@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

/* Initialisation des basiques */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

a:visited {
  text-decoration: none;
}

button {
  text-decoration: none;
}

.blue {
  color: #0065fc;
}

h1 {
  font-size: 1.4em;
  line-height: 1.1em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-weight: 400;
}

section {
  padding: 1.8em 1.2em;
}

/* Header */
.primary {
  width: 100%;
  padding: 1.5em 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signIn {
  font-weight: 700;
}

.secondary {
  width: 100%;
}

.secondary ul {
  display: flex;
  flex-direction: row;
}

.linkMenu {
  width: 50%;
  height: 100%;
  padding: 0 0 1em 0;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
}

.selected {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}

/* Main */
/* main {}  */

/* Introduction */

.introduction h1 {
  padding-bottom: 0.5em;
}

.searchContainer {
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}

.icnArea {
  height: 100%;
  border-radius: 12px;
  border: none;
  padding: 14px;
}

.icnLocation {
  background-color: #f2f2f2;
}

.searchInput {
  height: 100%;
  width: 100%;
  padding-left: 1em;
  border: none;
}

.icnSearch {
  color: white;
  background-color: #0065fc;
}

.filters h2 {
  margin-bottom: 16px;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
}

.filters li {
  margin: 0 12px 12px 0;
}

.filters .filter {
  display: flex;
  flex-direction: row;
  align-content: center;
  box-shadow: inset 0px 0px 0px 2px #f2f2f2;
  border-radius: 99px;
}

.filters .filterIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52.2px;
  width: 52.2px;
  background-color: #deebff;
  border-radius: 99px;
  color: #0065fc;
}

.filters .filterP {
  display: flex;
  align-items: center;
  padding: 1.1em;
}

.filters .filter p {
  font-weight: 700;
  font-size: 14px;
}

.info {
  margin: 1.4em 0;
  display: flex;
  align-items: start;
}

.info .infoIcon {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  color: #0065fc;
  border-radius: 99px;
  margin-right: 14px;
}

/* Most popular*/
.mostPopular {
  background-color: #f2f2f2;
}

.mostPopular .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.mostPopular .accommodationCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 22px;
  box-shadow: 5px 5px 5px #f2f2f2;
}

.mostPopular .accommodationCard .imgContainer {
  height: 140px;
  width: 140px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}

.mostPopular .accommodationCard .imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.mostPopular .accommodationCard .informationsContainer {
  height: 140px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 1.2em;
}

.mostPopular .accommodationCard .informationsContainer .rating {
  color: #0065fc;
  font-size: 0;
}

.mostPopular .accommodationCard .informationsContainer .fas {
  font-size: 12px;
  padding-left: 2px;
}

.mostPopular .accommodationCard .informationsContainer .rating .default {
  color: #dddddd;
}

.marseilleAccommodations {
  padding: 1.8em 1.2em;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  padding: 1.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
}

/* footer div:nth-child(1),
div:nth-child(2) {
  margin-bottom: 2.4em;
} */

footer div {
  margin: 0 4em 1.5em 0;
  flex: 1;
}

footer h2 {
  margin-bottom: 0.9em;
}

footer li {
  margin-bottom: 0.6em;
}
