@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

/*******************************/
/* Initialisation des basiques */
/*******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 16px;
}

html {
  --hover-blue: #015be2;
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

a:visited {
  text-decoration: none;
}

button {
  text-decoration: none;
}

.blue {
  color: var(--blue);
}

h1 {
  font-size: 1.4em;
  line-height: 1.1em;
}

h2 {
  font-size: 1em;
  line-height: 1.2em;
}

h3 {
  font-weight: 400;
}

section {
  padding: 2.4em calc(0.3em + 4.2vw);
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*******************************/
/* Header */
/*******************************/

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto auto min-content;
}

.menu .logo {
  margin: 24px 0 0 24px;
}

.menu .logo:hover svg path {
  fill: var(--hover-blue);
}

.menu .signIn {
  font-weight: 700;
  grid-row: 1;
  grid-column: 3;
  margin: 24px 24px 0 0;
  align-self: center;
  justify-self: end;
}

.menu .signIn:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.menu ol {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  grid-row: 2;
  grid-column: 1/4;
}

.menu .linkMenu {
  width: 50%;
  height: 100%;
  border-bottom: 3px solid var(--grey);
  text-align: center;
}

.menu .linkMenu a:hover {
  color: var(--blue);
  cursor: pointer;
}

.menu .linkMenu.selected {
  border-bottom: 3px solid var(--blue);
}

.menu .linkMenu.selected a {
  color: var(--blue);
}

@media screen and (min-width: 580px) {
  .menu {
    padding: 0 calc(0.3em + 4.2vw);
    height: 76px;
  }

  .menu .logo {
    margin: 0;
    align-self: center;
  }

  .menu ol {
    grid-row: 1;
    grid-column: 3;
    margin-top: 0;
    max-width: 340px;
    justify-self: end;
  }

  .menu .signIn {
    grid-column: 4;
    margin: 0;
    border-top: 3px solid transparent;
  }

  .menu .linkMenu {
    border-bottom: none;
    border-top: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
  }

  .menu .linkMenu.selected {
    border-bottom: none;
    border-top: 3px solid var(--blue);
  }
}

/*******************************/
/* Introduction */
/*******************************/

.introduction {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.introduction h1 {
  padding-bottom: 0.5em;
}

.introduction .searchContainer {
  width: 100%;
  max-width: 420px;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: 12px;
}

.introduction .searchContainer .icnArea {
  height: 100%;
  border: none;
}

.introduction .searchContainer .icnLocation {
  background-color: var(--grey);
  border-radius: 12px 0 0 12px;
  padding: 14px 17px;
}

.introduction .searchContainer .searchInput {
  height: 100%;
  width: 100%;
  padding-left: 1em;
  border: none;
  font-weight: 500;
}

.introduction .searchContainer .searchInput:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.introduction .searchContainer .searchInput:hover {
  background-color: #f2f2f250;
}

.introduction .searchContainer .inputValidation {
  color: white;
  background-color: var(--blue);
  border-radius: 12px;
  cursor: pointer;
  padding: 14px 15px;
  font-weight: 600;
}

.introduction .searchContainer .inputValidation:hover {
  background-color: var(--hover-blue);
}

.introduction .searchContainer .inputValidation.btnSearch {
  border-radius: 0 12px 12px 0;
  display: none;
}

.introduction .filters h2 {
  margin-bottom: 16px;
}

.introduction .filters ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.introduction .filters li {
  margin: 0 12px 12px 0;
}

.introduction .filters .filter {
  display: flex;
  flex-direction: row;
  align-content: center;
  box-shadow: inset 0px 0px 0px 2px var(--grey);
  border-radius: 99px;
}

.introduction .filters .filter:hover {
  background-color: #deebff3c;
  color: var(--blue);
  cursor: pointer;
}

.introduction .filters .filterIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52.2px;
  width: 52.2px;
  background-color: var(--light-blue);
  border-radius: 99px;
  color: var(--blue);
}

.introduction .filters .filterP {
  display: flex;
  align-items: center;
  padding: 1em;
}

.introduction .filters .filter p {
  font-weight: 700;
  font-size: 14px;
}

.introduction .info {
  display: flex;
  align-items: start;
}

.introduction .info .infoIcon {
  padding: 5px 8.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey);
  color: var(--blue);
  border-radius: 99px;
}

.introduction .info .infoIcon .fa-info {
  font-size: 12px;
}

.introduction .info p {
  /* line-height: 1.5; */
  padding: 3px 0 0 12px;
}

@media screen and (min-width: 1024px) {
  .introduction .filters {
    display: flex;
    align-items: center;
    column-gap: 1em;
  }

  .introduction .filters h2,
  .introduction .filters ul li {
    margin: 0;
  }

  .introduction .filters ul {
    column-gap: 1em;
  }

  .introduction .searchContainer .inputValidation.btnSearch {
    display: initial;
  }

  .introduction .searchContainer .inputValidation.icnSearch {
    display: none;
  }
}

/*******************************/
/* Main */
/*******************************/

.cardsList {
  row-gap: 0.8em;
  column-gap: 0.8em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1180px) {
  .accommodations .mostPopular .cardsList {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1366px) {
  .accommodations .mostPopular .cardsList {
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
  }
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0.3em 0.3em 10px #e7e7e7, -0.3em -0.3em 10px #e7e7e7;
  transition: box-shadow 0.3s ease-in-out;
}

.card img {
  transition: scale 0.3s ease-in-out;
}

.card .imgContainer {
  overflow: hidden;
}

.card:hover img {
  scale: 1.03;
}

.card:hover {
  box-shadow: 0.3em 0.3em 10px #d8d8d8, -0.3em -0.3em 10px #d8d8d8;
}

/* Accommodations */
/*******************************/

.accommodations {
  display: flex;
  flex-direction: column;
}

.accommodations .sectionTitle .fa-chart-line {
  font-size: 24px;
}

.accommodations .accommodationCard {
  padding: 0.4em;
}

/* Most popular*/

.accommodations .mostPopular {
  background-color: var(--grey);
}

.accommodations .mostPopular .card {
  height: calc(120px + 8vw);
}

@media screen and (min-width: 1024px) {
  .accommodations .mostPopular .card {
    max-height: 160px;
    flex: 1;
  }
}

@media screen and (min-width: 1366px) {
  .accommodations {
    flex-direction: row-reverse;
    column-gap: 2.4em;
    margin: 0 3.1em;
  }

  .accommodations .mostPopular {
    display: flex;
    flex-direction: column;
    flex: 1.2;
  }

  .accommodations .mostPopular .card {
    width: 100%;
    flex: auto;
  }

  .marseilleAccommodations .card {
    max-width: 246px;
    max-height: 230px;
  }

  .accommodations .mostPopular,
  .accommodations .marseilleAccommodations {
    border-radius: 20px;
    justify-content: center;
    padding: 2.4em;
  }

  .accommodations .marseilleAccommodations {
    background-color: var(--grey);
    flex: 3;
  }
}

.accommodations .mostPopular .accommodationCard .imgContainer {
  border-radius: 15px 0 0 15px;
  height: 100%;
  flex: 1;
}

.accommodations .mostPopular .accommodationCard .informationsContainer {
  flex: 1.3;
}

.accommodations
  .mostPopular
  .accommodationCard
  .informationsContainer
  .informations
  h2 {
  margin-bottom: 0.4em;
}

/* In Marseille */

.accommodations .marseilleAccommodations .columnCard,
.activities .columnCard {
  flex-direction: column;
  max-width: 600px;
}

@media screen and (min-width: 680px) {
  .accommodations .marseilleAccommodations .columnCard,
  .activities .columnCard {
    width: 48.9%;
  }
}

@media screen and (min-width: 1024px) {
  .accommodations .marseilleAccommodations .columnCard,
  .activities .columnCard {
    width: calc(33% - 0.8em);
  }

  .accommodations .marseilleAccommodations .cardsList {
    row-gap: 1.2em;
  }
}

.marseilleAccommodations .imgContainer,
.activities .imgContainer {
  height: calc(6em + 4vw);
  min-height: 128px;
  max-height: 140px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.mostPopular .accommodationCard .informationsContainer,
.marseilleAccommodations .accommodationCard .informationsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.marseilleAccommodations .accommodationCard .informationsContainer,
.activities .activityCard .informationsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  line-height: 1;
  padding-top: 12px;
}

.mostPopular .accommodationCard .informationsContainer .rating,
.marseilleAccommodations .accommodationCard .informationsContainer .rating {
  color: var(--blue);
  font-size: 0;
}

.mostPopular .accommodationCard .informationsContainer .fas,
.marseilleAccommodations .accommodationCard .informationsContainer .fas {
  font-size: 12px;
  padding-left: 2px;
}

.mostPopular .accommodationCard .informationsContainer .rating .default,
.marseilleAccommodations
  .accommodationCard
  .informationsContainer
  .rating
  .default {
  color: #dddddd;
}

.accommodations .marseilleAccommodations .seeMore {
  font-size: 1em;
  line-height: 1.2em;
  margin: 32px 0 0 0;
}

.accommodations .marseilleAccommodations .seeMore:hover {
  text-decoration: underline;
  text-underline-position: under;
}

/*******************************/
/* Activities */
/*******************************/

.activities .activityCard .informationsContainer {
  padding: 1em;
}

@media screen and (min-width: 1366px) {
  .activities .cardsList {
    max-height: 440px;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr 1fr 4fr;
    row-gap: 2.4em;
    column-gap: 2.4em;
  }

  .activities .imgContainer {
    /* height: 100%; */
    height: auto;
    max-height: initial;
    min-height: initial;
    flex: 1;
    overflow: hidden;
  }

  .activities .card {
    position: relative;
    height: 100%;
    display: flex;
    max-width: none;
    overflow: hidden;
    width: 100%;
  }

  .activityCard:nth-child(1) {
    grid-column: 1;
    grid-row: 1/5;
  }

  .activityCard:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
  }

  .activityCard:nth-child(3) {
    grid-column: 2;
    grid-row: 3/5;
  }

  .activityCard:nth-child(4) {
    grid-column: 3;
    grid-row: 1/5;
  }

  .activityCard:nth-child(5) {
    grid-column: 4;
    grid-row: 1/2;
  }

  .activityCard:nth-child(6) {
    grid-column: 4;
    grid-row: 2/5;
  }
}

/*******************************/
/* Footer */
/*******************************/

footer {
  background-color: var(--grey);
  padding: 3em calc(0.3em + 4.2vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div {
  width: 100%;
  /* min-width: 15em; */
  /* flex: 1; */
  padding: 0 1em;
}

footer div:nth-child(2) {
  margin-top: 2em;
}

footer div:nth-child(3) {
  margin-top: 2em;
}

@media screen and (min-width: 834px) {
  footer div,
  footer div:nth-child(2),
  footer div:nth-child(3) {
    flex: 1;
    margin-top: 0;
  }
}

footer h2 {
  margin-bottom: 0.9em;
}

footer li {
  margin-bottom: 0.6em;
}

footer li:hover {
  text-decoration: underline;
  text-underline-position: under;
}
